/* main */
@use "./base/reset";
@use "./pages/home";

@font-face {
    font-family: 'Agbalumo';
    font-weight: 400;
    src: url('../assets/fonts/Agbalumo-Regular.ttf') format(ttf);
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(50, 70%, 80%);
}

.headerTitle, .ROFL {
    font-size: 300%;
    font-family: 'Agbalumo';
}

.ROFL:hover {
    animation: roll 2s linear;
}

.panel {
    width: 400px;
}

.panel__content {
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
    font-family: 'Agbalumo';
    height: 300px;
}

.panel:hover .panel__content {
    transform: rotateY(.5turn);
}

.font__body {
    font-size: 200%;
}

.panel__front, 
.panel__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    backface-visibility: hidden;
    border-radius: 25px;
    transform-style: preserve-3d;
}

.panel__front {
    background: hsl(100, 80%, 75%);
}

.panel__title {
    transform: translateZ(100px);
}

.panel__back {
    transform: rotateY(.5turn);
    background: hsl(190, 80%, 80%);
}

.panel__body {
    color: brown;
}

@keyframes roll {
    0% {
        transform: rotate(0turn);
    }

    25% {
        transform: rotate(.25turn);
    }

    50% {
        transform: rotate(0turn);
    }

    75% {
        transform: rotate(-.25turn);
    }

    100% {
        transform: rotate(0turn);
    }

}